span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.NameText {
    font-size: 28px;
    color: #45536D;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
}

.SubNameText {
    color: #434A5C;
    font-weight: 400;
    font-size: 14px;

}

.navText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-decoration: none;
    font-style: normal;
    color: #434A5C;
    margin-right: 25px;

}

.afisha_meropriyatiy {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    margin-right: 25px;
    text-decoration: none;
    color: #141414;
}

.feedback {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    margin-right: 25px;
    color: #576698;
    text-decoration: underline;
}

.MainText {
    color: #141414;
    font-weight: 500;
    font-size: 14px;
}

.SectionNameText {
    color: #BF6024;
    font-weight: 600;
    font-size: 28px;
}
.MainHeader {
    border-bottom: 1px solid #7A7A7A;
    display: flex;
}

.mainName {
    font-size: 64px;
    font-weight: 600;
    line-height: 81.92px;
    text-align: left;
    border-top: 1px solid #7A7A7A;
}

.footerMainText {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #424242;
    text-align: left;
}

.footerNameText {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #424242;
    text-align: left;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #7A7A7A

}
div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
nav {
    display: flex;
    align-items: baseline;
}




.table {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 15px;
}

.subTable {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.subAside {
    background-color: #EAEDF2;
    width: 540px;
    height: 285px;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.div-special {
    width:  555px ;
    height: 600px;
    background-image: url(./images/apartments.png);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.on-image-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 30.72px;
    color: #FFFFFF;
}
.aside{
    position: relative;
    top: -600px;
    left: -120px;
    right: 120px;
    flex-direction: column;
}

.special-section {
    height: 700.19px;
}
.footr-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 25px;
}
footer {
    width: 1140px;
    height: 100.563px;
}
.subFooter-div  {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.footer-feedback {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    color: #424242;
    text-align: left;
}
.button-colorful {
    color: #E5C6B2;
    background-color: #BF6024;
    border-radius: 50px;
    padding: 5px 13px 5px 13px;
    margin-right: 15px;
}
.button-transparent {
    color: #E5C6B2;
    background-color: transparent;
    border-radius: 50px;
    padding: 5px 13px 5px 13px;
}