span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.NameText {
    font-size: 28px;
    color: #45536D;
    font-weight: 700;
}

.SubNameText {
    color: #434A5C;
    font-weight: 400;
    font-size: 14px;
}

.navText {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
}

.afisha_meropriyatiy {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
}

.feedback {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
}

.MainText {
    color: #141414;
    font-weight: 500;
    font-size: 14px;
}

.SectionNameText {
    color: #BF6024;
    font-weight: 600;
    font-size: 28px;
}
.MainHeader {
    border-bottom: 1px solid #7A7A7A;
    display: flex;
}

.mainName {
    font-size: 64px;
    font-weight: 600;
    line-height: 81.92px;
    text-align: left;
    border-top: 1px solid #7A7A7A;
}

.footerMainText {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}

.footerNameText {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    text-align: left;
}


header {
    display: flex;
    flex-wrap: wrap;
}
div {
    display: flex;
}
nav {
    display: flex;
    align-items: baseline;
}
img {
    display: flex;
}

